//COLORS
$color-primary:#55c57a;
$color-primary-dark:#28b485;
$color-primary-light:#7ed56f;

$color-secondary:#01adcbcc;
$color-secondary-dark:#027d93cc;
$color-secondary-light:#20deffcc;

$color-tertiary:#ffb900;
$color-tertiary-light:#ffcf4a;
$color-tertiary-dark:#ffa600;


$color-dark-gray:#30303080;
$color-dark-gray-1:#333333;
$color-gray:#4b4b4b;
$color-gray-shadow:#494949;
$color-lighte-gray:#b8b8b8;
$color-lighte-gray-1:#dddddd;
$color-white:#fff;

//GRID
$max-width:114rem;
$horizontal-gutter:6rem;
$vertical-gutter:8rem;

//FONT
$defult-font-size:2rem;