.feature-box{
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-gray-shadow ,.15);
    transition: transform .2s;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to bottom ,$color-primary, $color-secondary );
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }
    &:hover{
        transform: translateY(-1.2rem) scale(1.03);
    }
    &__text{
        font-size: 1.6rem;
        font-weight: 100;
        color:$color-gray;
    }
}